.container-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    .image{
        width: 40vw;
        max-width: 400px;
        margin:10px;
        box-shadow: -5px -5px 15px rgb(7, 173, 82);
    }
    .image:hover{
        width: 450px;
    }
    .container-text{
        text-align: center;
        width: 20vw;
        margin:15px;
        padding: 5px;
        color:white;
        background-color: rgba(0, 0, 0, 0.479);
    }
}



