.c-profile{
    display: flex;
    max-width: 30vw;
    align-items: center;
    justify-content: center;
    &__img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    h4{
        font-size: 0.6rem;
        color: rgb(131, 131, 131);
        margin-left: 5px;
        margin-right: 20px;
    }
}
@media (min-width: 1440px) {
    .c-profile{
    width: 50vw;
    &__img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    h4{
        font-size: 1.2rem;
        margin-right: 20px;
    }
}
}