.character-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    li{
        color: yellowgreen;
        font-size: 50px;
    strong{
        color: white;
    }
    }
}
}
.img{
    width: 40vw;
    max-width: 500px;
    margin:10px;
    box-shadow: 0px 0px 10px rgb(7, 173, 82);
    border-radius: 5px;
}
.img:hover{
    width: 50vw;

}