@font-face {
  font-family: shlop;
  src: url(../public/shloprg.ttf);
}

body {
  margin: 0;
  font-family: shlop;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3a0233;
  background-image: url("https://www.transparenttextures.com/patterns/snow.png");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  letter-spacing: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
